

.WrapperCheckout {
  display: grid;
  width: 100%;
  margin-top: 50px;
  width: 10%;
  float: right;
  margin-right: 300px;
    padding-right: 80px;
}

.WrapperCheckout > div {
  border: 0.5px solid;
  background-color: white;
  color: #828282;
}

.shippingContainer {
  float: left;
  margin-left: 200px;
  color: #828282;
  padding: 20px;
}

.CheckoutItemCart {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;


}

.ShippingMethod {
  float: left;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 200px;
  color: #828282;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

form.shippingCheckbox {

  float: left;

}

.checkoutSubtotal {
  align-items: center;
  justify-content: center;
  display: inline-grid;
  text-align: center;
  width: 20%;
}

.renderCheckoutItem {
  align-items: center;
  justify-content: center;
  display: inline-grid;
  text-align: center;
  border-bottom: 1px solid;
  margin-top: -20px;
  margin-right: 700px;

}

.order-checkout-title {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0.5px solid;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
  margin-right: 700px;
  padding-right: 100px;



}

.CheckoutItemName, .CheckoutItemQuantity {
  float:left;
  margin-left: -40px;
  padding: 5px;
}

.CheckoutItemPrice {
  float: right;
  margin-left: 300px;
}

.checkoutContainer {
  margin-top: 100px;
  color: #828282;
}
