.MakeupItemImage {
  width: 30%;
  align-items: center;
  justify-content: center;
  display:flex;
  margin-left: 15%;
  margin-top: 8%;
}

.MakeupItemContainer div{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40%;
  margin-right: 150%;
}

h1, p {
  align-items: center;
  justify-content: center;
  display:flex;

}

.MakeupItemContainer img {
  align-items: center;
  justify-content: center;
  display:flex;

}

.MakeupItemName {
  display: flex;
  font-size: 30px;
  align-itmes: right;
  margin: -380px 0px 0px 180px;
}

.MakeupItemPrice {
  display: flex;
  font-size: 18px;
  align-items: right;
  margin: 110px 50px 25px 205px;
}

.MakeupItemDescription {
  display: flex;
  font-size: 18px;
  align-items: right;
  margin: -120px 0 20px 170px;
}

#add-to-cart {
  border-color: black;
  color: black;
  background-color: white;
  position: relative;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #414141;
  display: flex;
  align-items: center;
  margin-top: 8%;
  margin-left: 50%;
}
