.MakeupItemImage {
  width: 30%;
  align-items: center;
  justify-content: center;
  display:flex;
  margin-left: 15%;
  margin-top: 8%;
}

.MakeupItemContainer div{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40%;
  margin-top: -100px;
  margin-right: 150%;
  padding-bottom: 300px;
}

h1, p {
  align-items: center;
  justify-content: center;
  display:flex;

}

.review-info {
  align-items: center;
  width: 70%;
  margin-left: 13rem;
  padding:4rem;
  border-top: 1px solid #414141;
}

.write-review {
  border-color: black;
  color: black;
  background-color: white;
  position: relative;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #414141;
  display: flex;
  align-items: center;

}

.MakeupItemContainer img {
  align-items: center;
  justify-content: center;
  display:flex;

}



.review-title {
margin-top: 15rem;
margin-left: 44rem;



}

.makeupAvgRating {
  margin-top: -1rem;
  margin-left: 44rem;
  padding-bottom: 3rem;

}

.review-rating {
  margin-bottom: -4.5rem;
  margin-left: 4rem;
  font-size: 1.5rem;
}

.review-name-city {
  margin-left: 8rem;
  margin-bottom: -2.5rem;
}

.review-content {
  margin-left: 26rem;
  width: 50%;
  padding-bottom: 2rem;


}

.MakeupItemName {
  display: flex;
  font-size: 30px;
  align-itmes: right;
  margin: -380px 0px 0px 180px;
}

.MakeupItemPrice {
  display: flex;
  font-size: 18px;
  align-items: right;
  margin: 110px 50px 25px 205px;
}

.MakeupItemDescription {
  display: flex;
  font-size: 15px;
  align-items: right;
  width: 40%;
  margin: -120px 0 20px 590px;
}

#add-to-cart {
  border-color: black;
  color: black;
  background-color: white;
  position: relative;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .1rem;
  line-height: 1;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #414141;
  display: flex;
  align-items: center;
  margin-top: 8%;
  margin-left: 50%;
}
