.YourCartContainer {
  background-color: white;
  border: 1px solid #F0F8FF;

  justify-content: center;
  font-size: 13px;
  margin-top: -40px;
  float:right;
  display: flex;

}
.title {
  text-align: center;
  margin-top: -100px;
}

ul {
  list-style-type: none;
}

.CartItemImage {
  width: 100%;
  margin-left: 35px;

  margin-top: -420px;
  padding-left: 20px;
  padding-right: 20px;

}

.CartItemName, .CartItemPrice {
  margin-left: 200px;
  margin-right: 50px;
}

.cart-quantity {
  text-align: center;
  float: left;
  margin-top: 180px;
  margin-right: 180px;
}

div.OnMouseHover {
  float:right;
  display: flex;
  justify-content: center;
}
